<div class="properties-grid">
  @for (prop of getNodeProperties(); track prop.key) {
  <div class="property-item">
    <strong class="property-label">{{ prop.key }}:</strong>
    <div class="property-value-container">
      @if (isArray(prop.value)) {
      <div class="array-container">
        <ul class="array-list">
          @for (item of prop.value; track item) {
          <li class="array-list-item">
            <span class="array-item-content">{{ item }}</span>
          </li>
          }
        </ul>
      </div>
      } @else if (isObject(prop.value)) {
      <div class="json-container">
        <ngx-json-viewer
          [json]="prop.value"
          [expanded]="false"
        ></ngx-json-viewer>
      </div>
      } @else {
      <span class="property-value">
        {{ prop.value }}
      </span>
      }
    </div>
  </div>
  }
</div>
