<!-- src/app/pages/sources/sources.component.html -->
<div class="page-container">
  <div class="page-header">
    <h1>Fuentes de Datos</h1>
    <p>
      Explora revistas científicas, repositorios de datos y fuentes de
      información de diversos ámbitos.
    </p>
  </div>

  <app-generic-list
    entityType="Source"
    [columns]="sourceColumns"
    label="Sources"
    [defaultSort]="'title'"
    [defaultSortOrder]="'ASC'"
    [pageSize]="10"
    (nodeSelected)="onNodeSelected($event)"
    searchIndex="sourceSearch"
  >
  </app-generic-list>
</div>
