<!-- src/app/pages/outputs/outputs.component.html -->
<div class="page-container">
  <div class="page-header">
    <h1>Research Outputs</h1>
    <p>
      Explore scientific publications, research articles, datasets, and other
      research outputs
    </p>
  </div>

  <app-generic-list
    entityType="Output"
    [columns]="outputColumns"
    label="Research Outputs"
    [defaultSort]="'publication_date'"
    [defaultSortOrder]="'DESC'"
    [pageSize]="10"
    (nodeSelected)="onNodeSelected($event)"
  >
  </app-generic-list>
</div>
