<!-- src/app/pages/vocabularies/vocabularies.component.html -->
<div class="page-container">
  <div class="page-header">
    <h1>Vocabularios</h1>
    <p>
      Vocabularios controlados, taxonomías y sistemas de clasificación
      utilizados.
    </p>
  </div>

  <app-generic-list
    entityType="Término"
    [columns]="vocabularyColumns"
    label="Vocabulario Terms"
    [defaultSort]="'name'"
    [defaultSortOrder]="'ASC'"
    [pageSize]="10"
    (nodeSelected)="onNodeSelected($event)"
  >
  </app-generic-list>
</div>
