<div class="page-container">
  <div class="page-header">
    <h1>Vocabularios</h1>
    <p>Explore los vocabularios controlados y términos del sistema</p>
  </div>

  <mat-card>
    <mat-card-content>
      <mat-tab-group [(selectedIndex)]="selectedTabIndex">
        <mat-tab
          *ngFor="let termType of termTypes; let i = index"
          [label]="termType.label"
        >
          <div class="tab-content">
            <div class="tab-description">
              <p>{{ termType.description }}</p>
            </div>

            <app-generic-list
              [entityType]="termType.type"
              [columns]="termColumns"
              [pageSize]="10"
              [detaillsText]="'Ver detalles'"
              (nodeSelected)="onNodeSelected($event)"
            >
            </app-generic-list>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
