<div class="flex flex-col absolute inset-0" [class.main-is-mobile]="isMobile()">
  <mat-toolbar
    color="primary"
    class="flex justify-between items-center px-4 fixed z-[2] main-is-mobile:header-toolbar"
    >
    <div class="flex items-center flex-1">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="ml-2">
        {{ config.title }}
      </h1>
    </div>

    <div class="flex flex-col items-center flex-1">
      <h1 class="m-0 text-base leading-none">
        <!-- {{ metadata.title }} -->
      </h1>
    </div>

    <div class="flex items-center justify-end flex-1">
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="flex-1 main-is-mobile:flex-[1_0_auto]">
    <mat-sidenav
      #snav
      mode="side"
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      fixedTopGap="56"
      >
      @if (config.menu) {
        <mat-nav-list class="p-4">
          @for (item of config.menu; track item) { @if (item.children) {
            <div mat-subheader>
              {{ item.label }}
            </div>
            @for (child of item.children; track child) {
              <mat-list-item
                [routerLink]="child.route"
                routerLinkActive="active"
                (click)="snav.toggle()"
                >
                @if (child.icon) {
                  <mat-icon matListIcon>{{ child.icon }}</mat-icon>
                }
                <div matListItemTitle>{{ child.label }}</div>
                <div matListItemLine>{{ child.description }}</div>
              </mat-list-item>
            }
            <mat-divider></mat-divider>
            }@else {
            <mat-list-item
              [routerLink]="item.route"
              routerLinkActive="active"
              (click)="snav.toggle()"
              >
              @if (item.icon) {
                <mat-icon matListIcon>{{ item.icon }}</mat-icon>
              }
              <div matListItemTitle>{{ item.label }}</div>
              <span matListItemLine>{{ item.description }}</span>
            </mat-list-item>
            } }
          </mat-nav-list>
        }
      </mat-sidenav>

      <mat-sidenav-content class="p-8">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <footer>
      <h2>FOOTER</h2>
      <mat-icon svgIcon="sceiba" class="center-logo"></mat-icon>
    </footer>
  </div>
