<!-- src/app/pages/mes/mes.component.html -->
<div class="page-container">
  <div class="page-header">
    <h1>Revistas MES</h1>
    <p>
      Revistas y publicaciones científicas del Ministerio de Educación Superior
      de Cuba.
    </p>
  </div>

  <app-generic-list
    entityType="Source"
    [columns]="mesColumns"
    label="MES Journals"
    [defaultSort]="'title'"
    [defaultSortOrder]="'ASC'"
    [pageSize]="10"
    [advancedQueryOptions]="mesAdvancedQuery"
    (nodeSelected)="onNodeSelected($event)"
  >
  </app-generic-list>
</div>
