<!-- src/app/pages/projects/projects.component.html -->
<div class="page-container">
  <div class="page-header">
    <h1>Proyectos de Investigación</h1>
    <p>
      Explora proyectos de investigación, subvenciones e iniciativas científicas
      en diversos ámbitos.
    </p>
  </div>

  <app-generic-list
    entityType="Project"
    [columns]="projectColumns"
    label="Projects"
    [defaultSort]="'title'"
    [defaultSortOrder]="'ASC'"
    [pageSize]="10"
    (nodeSelected)="onNodeSelected($event)"
  >
  </app-generic-list>
</div>
