<!-- src/app/pages/node-view/node-view.component.html -->
<div class="page-container">
  <div class="node-view-page">
    <div class="page-header">
      <h1>
        {{ nodeName }}
      </h1>
      <span>
        <mat-chip class="entity-type-chip">{{ nodeType }}</mat-chip>
      </span>
    </div>

    <mat-tab-group [(selectedIndex)]="activeTab" class="node-view-tabs">
      <!-- Tab 1: Node Details -->
      <mat-tab label="Detalles del Nodo">
        <div class="tab-content">
          <div class="node-viewer-container">
            <app-enhanced-node-viewer
              [nodeId]="nodeId"
              [nodeType]="nodeType"
              (nodeLoaded)="onNodeLoaded($event)"
              (nodeSelected)="onRelatedNodeSelect($event)"
            >
            </app-enhanced-node-viewer>
          </div>
        </div>
      </mat-tab>

      <!-- Tab 2: Evaluations -->
      <mat-tab label="Evaluaciones">
        <div class="tab-content">
          <button mat-raised-button (click)="openEvaluationSelection()">
            <mat-icon>add</mat-icon>
            <!-- Note: 'new' isn't a standard Material icon -->
            Nueva Evaluación
          </button>
          <app-node-evaluations
            [nodeId]="nodeId"
            [nodeType]="nodeType"
            [node]="node"
          >
          </app-node-evaluations>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
