<!-- src/app/pages/persons/persons.component.html -->
<div class="page-container">
  <div class="page-header">
    <h1>Autores</h1>
    <p>
      Investigadores, científicos y colaboradores de diversas instituciones y
      disciplinas.
    </p>
  </div>

  <app-generic-list
    entityType="Author"
    [columns]="personColumns"
    label="Investigadores"
    [defaultSort]="'name'"
    [defaultSortOrder]="'ASC'"
    [pageSize]="10"
    (nodeSelected)="onNodeSelected($event)"
  >
  </app-generic-list>
</div>
